

      html {height: 900px;
        width: 100%;}

      body {font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;}

.rectangulo38 {position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(246, 243, 237, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      box-shadow: unset;
      width: 1920px;
    height: 3516px;
    top: 2222px;}

    .rectangulo40 {position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1px;
      box-shadow: none;
      width: 260px;
    height: 226px;
    left: 416px;
    top: 4648px;}

.rectangulo39 {position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(246, 243, 237, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-top-width: 1px;
      box-shadow: none;
      width: 1920px;
    height: 230px;
    top: 1px;}

.home { position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Cairo, Arial;
      text-decoration: none;
      box-shadow: noautone;
      overflow-x: unset;
      overflow-y: unset;
      width: 122px;
    height: 36px;
    left: 623px;
    top: 158px;}

.rectangulo37 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-top-width: 1px;
      box-shadow: none;
      width: 1920px;
    height: 1494px;
    left: 0px;
    top: 5739px;}

.rectangulo36 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(241, 237, 231, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      box-shadow: none;
      width: 1920px;
    height: 1035px;
    left: -1px;
    top: 1188px;}

.portadaLos10PasosDeLaRutinaDeSkincareCoreano {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/portadaLos10PasosDeLaRutinaDeSkincareCoreano.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      width: 1920px;
    height: 1079px;
    left: -1px;
    top: 231px;}

.linea1 {position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      stroke: rgba(0, 0, 0, 1);
          stroke-width: 2px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 1640px;
    height: 2px;
    left: 140.50px;
    top: 121.50px;}

.productos {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: "Cairo", Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 122x;
    height: 37px;
    left: 899px;
    top: 158px;

}

.testimonio {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: "Cairo", Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 122px;
    height: 37px;
    left: 1037px;
    top: 158px;

}

.contacto75f74ca9 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: "Cairo", Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 122px;
    height: 37px;
    left: 1175px;
    top: 158px;}

.nosotros {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20x;
      font-weight: 400;
    font-style: normal;
      font-family: "Cairo", Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 122px;
    height: 37px;
    left: 761px;
    top: 158px;}

.productosParaDespertarTuAutenticoBrillo {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(246, 243, 237, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 85px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 708px;
    height: 380px;
    left: 1159px;
    top: 738px;}

.productosParaDespertarTuAutenticoBrillo {
    color: rgba(246, 243, 237, 1);
    font-weight: 700px;
    font-style: normal;
    font-size: 85px;
    font-family: 'Playfair Display', Arial;
    letter-spacing: 0;
    text-decoration: none;}

.productosParaDespertarTuAutenticoBrillo {
    color: rgba(246, 243, 237, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 85px;
    font-family: 'Playfair Display', Arial;
    letter-spacing: 0;
    text-decoration: none;}

.sobreNosotros {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(213, 190, 171, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 80px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 682px;
    height: 98px;
    left: 278px;
    top: 1442px;}

    .somosUnaEmpresaEnQueTeOfrecemosServiciosDeInformarSobreQueProductoQuieresBuscarOInclusoRecomendarParaLaLimpiezaYElCuidadoSobreTuPiel {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: "Poppins", Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 674px;
    height: 115px;
    left: 278px;
    top: 1582px;}

.escogeTuTipoDePiel {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(213, 190, 171, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 80px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 812px;
    height: 111px;
    left: 553px;
    top: 2293px;}

.sunnyNgKvilnrogwxkUnsplash {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/sunnyNgKvilnrogwxkUnsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      box-shadow: none;
      width: 674px;
    height: 851px;
    left: 1107px;
    top: 1337px;}

.grupo1 {
      display: block;
      position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 452px;
    height: 90px;
    left: 734px;
    top: 22px;
}

.glowskin670c601b {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/glowskin670c601b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      width: 452px;
    height: 90px;}

.grupo3 {
      display: block;
      position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1921px;
    height: 226px;
    left: -1px;
    top: 7233px;}

.rectangulo34 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(241, 237, 231, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      width: 1921px;
    height: 226;}

.grupo2 {
      display: block;
      position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 484px;
    height: 90px;
    left: 141px;
    top: 45px;}

.glowskin {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/glowskin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      width: 484;
    height: 90;}

.grupo3 .glowskinC2022TodoDerechoReservado {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 15px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 536px;
    height: 20px;
    left: 692px;
    top: 183px;

}

.celular56987149874 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 17px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 46px;
    left: 830px;
    top: 71px;

}
.celular56987149874-0 {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    font-family: 'Segoe UI', Arial;
    letter-spacing: 0;
    text-decoration: none;
}

.grupo3 .celular56987149874 .celular56987149874-24 {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    font-family: 'Segoe UI', Arial;
    letter-spacing: 0;
    text-decoration: none;
}

.grupo3 .emailglowskin {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 17px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 46px;
    left: 1106px;
    top: 71px;

}

.grupo3 .linea7 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      stroke: rgba(0, 0, 0, 0.8901960784313725);
          stroke-width: 2px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 1640px;
    height: 2px;
    left: 140.50px;
    top: 163px;

}

.grupo3 .contacto {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 17px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: auto;
      overflow-y: auto;
      width: 81px;
    height: 27px;
    left: 988px;
    top: 44px;

}

.noRevisionsWvxl8m1aoaeUnsplash {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/noRevisionsWvxl8m1aoaeUnsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 674px;
    height: 809px;
    left: 148px;
    top: 6129px;

}

.cheyenneDoigDps0degrm9aUnsplash {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/cheyenneDoigDps0degrm9aUnsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 674px;
    height: 827px;
    left: 960px;
    top: 5942px;

}

.testimonios {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(16, 16, 16, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 80px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 812px;
    height: 111px;
    left: 148px;
    top: 5869px;

}

.brindamosElMejorServicioYaQueNuestraPrioridadEsLaSatisfaccionDelCliente {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(16, 16, 16, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 80px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: auto;
      overflow-y: auto;
      width: 1161px;
    height: 380px;
    left: 139px;
    top: 1762px;

}

.comilla53ac967e {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/comilla53ac967e.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 156px;
    height: 110px;
    left: 236px;
    top: 6890px;

}

.siempreEstoyAquiParaMiVerQueNovedadesHayParaMiTratamientoProfesionalEsUnServicioIncreibleHeEstadoMuchasVeces {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 536px;
    height: 131px;
    left: 286px;
    top: 6985px;

}

.servicioPerfectoEsteLugarEsPerfectoSiQuieresDarteInformarteYDarteUnCapricho {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 536px;
    height: 115px;
    left: 1098px;
    top: 6823px;

}

.comilla {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/comilla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 156px;
    height: 110px;
    left: 1041px;
    top: 6724px;

}

.grupo10 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1501px;
    height: 202px;
    left: 278px;
    top: 3071px;

}

.grupo7 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 260px;
    height: auto;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

 .grupo7 .rectangulo4 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 202px;
    left: 0px;
    top: 0px;

}

 .grupo7 .seca {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 25px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 260px;
    height: 33px;
    left: 0px;
    top: 86px;

}

 .llamamosPielSecaAUnTipoDePielQueSeCaracterizaPorPresentarTirantezDescamacionFaltaDeConfortYAsperezaSobreTodoDespuesDelBanoEnEsteTipoDePielesPuedeHaberUnaAlteracionEnLaProduccionDeSeboPorLoQueEstaMasDesproteg {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Poppins, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 1224px;
    height: 90px;
    top: 56px;
    right: 0px;

}

.grupo9 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1503px;
    height: 202px;
    left: 277px;
    top: 2461px;

}

.grupo9 .grupo8 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 260px;
    height: auto;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.grupo9 .grupo8 .rectangulo3 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 202px;
    left: 0px;
    top: 0px;

}

.normal {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 25px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 27px;
    left: 0px;
    top: 86px;

}

.laCalidadDeLaPielDependeDeLaPredisposicionGeneticaDeFactoresAmbientalesYDeLaEdadLaPielNormalEsCasiPerfectaGraciasASuOptimoNivelDeElasticidadSeMantieneSiempreSuaveYFlexibleNoEsSensibleYTieneUnaBuenaCirculacion {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Poppins, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 1224px;
    height: 90px;
    top: 64px;
    right: 0px;

}

.grupo11 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1487px;
    height: 202px;
    left: 278px;
    top: 3749px;

}

.grupo6 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 260px;
    height: auto;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.grupo6 .rectangulo5 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 202px;
    left: 0px;
    top: 0px;

}

.grasa {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 25px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 260px;
    height: 33px;
    left: 0px;
    top: 86px;

}

.seCaracterizaPorTenerPorosDilatadosYBrillosPorTodoElRostroNoSoloEnLaZonaTYaQueEnEseCasoEstariamosHablandoDeUnaPielMixtaPuedenTenerTendenciaAExperimentaPorosDilatadosPuntosNegrosBrillosYAspectoGrasiento {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Poppins, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 1224px;
    height: 90px;
    top: 56px;
    right: 0px;

}

.grupo12{

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1503px;
    height: 202px;
    left: 278px;
    top: 4388px;

}

 .grupo5 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 260px;
    height: auto;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

 .grupo5 .rectangulo6 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 202px;
    left: 0px;
    top: 0px;

}

 .mixta {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 25px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 27px;
    left: 0px;
    top: 86px;

}

 .esteTipoDePielPresentaUnaTexturaMasGrasosaEnLaZonaTMentonNarizYFrenteEsUnaMezclaEntreLaPielSecaYLaPielGrasaEnCualEsMasPropensoALosGranitosYPuntosNegrosPorLaSecrecionSebaceaDondeSeDebeCuidarComoEsDebido {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Poppins, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 1224px;
    height: 90px;
    top: 56px;
    right: 0px;

}

.grupo13 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 1502px;
    height: 202px;
    left: 278px;
    top: 5027px;

}

.grupo4 {

      display: block;
      position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 260px;
    height: auto;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.rectangulo7 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(213, 190, 171, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 202px;
    left: 0px;
    top: 0px;

}

 .sensible {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 25px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 27px;
    left: 0px;
    top: 86px;

}

.sentirTuPielTiranteEIrritadaLaVesEnrojecidaEnAlgunasZonasOConTonoNoUniformeAparecenAlgunosBultitosOSeManifiestanAlergiasConRegularizandoTeRecomendamosEligiendoProductosEspecialmenteDestinadosParaPielSensibleParaSuLim {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: Poppins, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 1224px;
    height: 90px;
    top: 56px;
    right: 0px;

}

.cremaDeDiaRefrescanteFp30chico {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/cremaDeDiaRefrescanteFp30chico.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 416px;
    top: 2720px;

}

.exfolianteFacialDeArrozSuavechico {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/exfolianteFacialDeArrozSuavechico.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 830px;
    top: 2720px;

}

.gelHidratanteRefrescanteConSaviaDeAloechico {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/gelHidratanteRefrescanteConSaviaDeAloechico.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 244px;
    height: 243px;
    left: 1252px;
    top: 2720px;

}

.exfolianteFacialDeArrozSuave {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 830px;
    top: 2965px;

}

.cremaDeDiaRefrescanteFp30 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 54px;
    left: 416px;
    top: 2965px;

}

.gelHidratanteRefrescanteConSaviaDeAloe {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 106px;
    left: 1244px;
    top: 2965px;

}

.dnqnp894328Mlc46834928414072021O {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/dnqnp894328Mlc46834928414072021O.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 416px;
    top: 3370px;

}

.x1655380974Eberlin1655380954 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/x1655380974Eberlin1655380954.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 830px;
    top: 3370px;

}

.x1638981818CapturaDePantalla20211208ALas1743231638981806 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/x1638981818CapturaDePantalla20211208ALas1743231638981806.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 244px;
    height: 243px;
    left: 1252px;
    top: 3370px;

}

.cremaCalmingXTreme {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 830px;
    top: 3615px;

}

.hidratacionIntensaCremaFacial {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 54px;
    left: 416px;
    top: 3615px;

}

.cremaHidratante {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 76px;
    left: 1244px;
    top: 3615px;

}

.x71zjkzqcmcsacsx569 {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/x71zjkzqcmcsacsx569.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 416px;
    top: 4009px;

}

.exfolianteFacialDeArrozSuavechicod0c0c10c {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/exfolianteFacialDeArrozSuavechicod0c0c10c.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 260px;
    height: 226px;
    left: 830px;
    top: 4009px;

}

.gelHidratanteRefrescanteConSaviaDeAloechico0d8d947d {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/gelHidratanteRefrescanteConSaviaDeAloechico0d8d947d.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
 
      width: 244px;
    height: 243px;
    left: 1252px;
    top: 4009px;

}

.exfolianteFacialDeArrozSuave88a6a01b {
    position: absolute;
      box-sizing: content-box;

    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 830px;
    top: 4254px;

}

.boostCremaGelHidratanteFacialConAcidoHialuronico {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 416px;
    top: 4254px;

}

.gelHidratanteRefrescanteConSaviaDeAloe9bd06437 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: auto;
      overflow-y: auto;
      width: 260px;
    height: 76px;
    left: 1244px;
    top: 4254px;

}

.productosPielGrasaAvene600x90096ad1b5c {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/productosPielGrasaAvene600x90096ad1b5c.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      box-shadow: none;
      width: 287px;
    height: 249px;
    left: 403px;
    top: 4645px;

}

.productosPielGrasaColbertMd600x900779f1ef1 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/productosPielGrasaColbertMd600x900779f1ef1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      width: 260px;
    height: 226px;
    left: 830px;
    top: 4648px;

}

.productosPielGrasaDeborah600x9002adac5d8 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/productosPielGrasaDeborah600x9002adac5d8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      box-shadow: none;
      width: 244px;
    height: 243px;
    left: 1252px;
    top: 4648px;

}

.exfoliacionProfesional {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 830px;
    top: 4893px;

}

.aguaMicelar {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 2600px;
    height: 54px;
    left: 416px;
    top: 4893px;

}
.mascarillaPurificante {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 76px;
    left: 1244px;
    top: 4893px;

}

.lorealProductosPielSensible {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/lorealProductosPielSensible.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      box-shadow: none;
      width: 260px;
    height: 226px;
    left: 416px;
    top: 5287px;

}

.orlaneProductosPielSensible {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/orlaneProductosPielSensible.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      box-shadow: none;
      width: 260px;
    height: 226px;
    left: 830px;
    top: 5287px;

}

.cumlaudeProductosPielSensible {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/cumlaudeProductosPielSensible.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      box-shadow: none;
      width: 244px;
    height: 243px;
    left: 1252px;
    top: 5287px;

}

.locionDesmaquillanteDeOrlane {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0px;
      color: rgba(0, 0, 0, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 830px;
    top: 5532px;

}

.cuidadoHydrageniusDeLorealParis {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 76px;
    left: 416px;
    top: 5532px;

}

.capsulasComplementoAlimenticioSunlaudeOralDeCumlaude {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      color: rgba(6, 6, 6, 1);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
      font-size: 20px;
      font-weight: 400;
    font-style: normal;
      font-family: 'Segoe UI', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 260px;
    height: 97px;
    left: 1244px;
    top: 5532px;

}

